  <h2>Add a Question</h2>
  <form class="newquestion">
    <div class="form-group">
      <label for="question">Question</label>
      {{input class="form-control" value=question id="question" }}
    </div>
    <div class="form-group">
      <label for="author">Author</label>
      {{input class="form-control" value=author id="author"}}
    </div>
    <div class="form-group">
      <label for="comment">Comment</label>
      {{input class="form-control" value=comment id="comment"}}
    </div>
    <button class="btn" {{action 'saveQuestion'}}>Save</button>
  </form>
