  <h2>Add an answer</h2>
  <form class="newanswer">
    <div class="form-group">
      <label for="answer">Answer</label>
      {{input class="form-control" value=answer id="answer"}}
    </div>
    <div class="form-group">
      <label for="author">Author</label>
      {{input class="form-control" value=author id="author"}}
    </div>
    <button class="btn" {{action 'addAnswer'}}>Add</button>
    <button class='btn pull-right' {{action 'newQuestion'}}>Ask a question!</button>
  </form>
