{{#if questions}}
{{#each questions as |question|}}
  {{question-tile question=question answers=answers toggleAnswer='toggleAnswer' deleteAnswer='deleteAnswer' toggleUpdate='toggleUpdate' deleteQuestion='deleteQuestion' saveRating='saveRating' showDetails='showDetails'}}
{{/each}}
{{else}}
  <h3>No one has asked a question yet. Be the first to ask!</h3>
{{/if}}
