{{#each model as |question|}}
  <p>{{question.question}}</p>
  <p>{{question.author}}</p>
  {{answer-tile question=question}}

  <button class='btn' {{action 'switchToUpdate' question}}>Update</button>
  <hr>
{{/each}}
