{{#each questions as |question|}}
  <p>Question: {{question.question}}</p>
  <p>Author: {{question.author}}</p>
  <button class='btn' {{action 'switchToUpdate' question}}>Update</button>
  <hr>
  {{answer-tile question=question toggleAnswer='toggleAnswer'}}
  <p>------------------------------------------------------------------------</p>
{{/each}}
