<div class="col-md-6">
  {{answer-question model=model switchToUpdate='switchToUpdate'}}
</div>
<div class="col-md-6">
  {{#if switchToUpdate}}
    {{update-question currentQuestion=currentQuestion }}
  {{else}}
    {{add-question saveQuestion='saveQuestion'}}
  {{/if}}
</div>
