  <h2>Update your Question</h2>
  <form class="updatequestion">
    <div class="form-group">
      <label for="question">Question</label>
      {{input class="form-control" value=currentQuestion.question id="question"}}
    </div>
    <div class="form-group">
      <label for="author">Author</label>
      {{input class="form-control" value=currentQuestion.author id="author"}}
    </div>
    <button class="btn" {{action 'updateQuestion'}}>Update</button>
  </form>
