<div class="container">
  <header>
    {{#link-to 'index'}}<h1 class="pagetitle">Ask the Interwebs</h1>{{/link-to}}
    <nav class="navbar navbar-inverse">
      <ul class="nav navbar-nav">
      </ul>
    </nav>
  </header>
  {{outlet}}
  {{ember-modals}}
  <footer>
  </footer>
</div>
