<div class="container">
  <header>
    <h1 class="pagetitle">Ask the Interwebs</h1>
    <nav class="navbar navbar-inverse">
      <ul class="nav navbar-nav">
      </ul>
    </nav>
  </header>
  {{outlet}}
  <footer>
  </footer>
</div>
