<div class="container">
  <header>
    {{#link-to 'index'}}<h1 class="pagetitle">Ask the Interwebs</h1>{{/link-to}}
    <nav class="navbar navbar-inverse">
      <ul class="nav navbar-nav">
        {{!-- <li>{{#link-to 'index'}}Home{{/link-to}}</li> --}}
        {{!-- <li id='disclaimer'>{{#link-to 'index'}}Admin{{/link-to}}</li> --}}
      </ul>
    </nav>
  </header>
  {{outlet}}
  <footer>
  </footer>
</div>
